.weather{
  //background: url('../../assets/images/IDR664.gif');
  ////background-color: red;
  width: 100%;
  height: 92%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

}
.radar{
  position: absolute;
  height: 92%;
}
